<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ihowq.VTopic.dao.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.ihowq.VTopic.model.Role" >
    <id column="ROLEID" property="roleid" jdbcType="TINYINT" />
    <result column="ROLEAUTHORIY" property="roleauthoriy" jdbcType="CHAR" />
    <result column="ROLENAME" property="rolename" jdbcType="VARCHAR" />
    <result column="ROLECOMENT" property="rolecoment" jdbcType="VARCHAR" />
    <result column="CREATER" property="creater" jdbcType="VARCHAR" />
    <result column="CREATDATETIME" property="creatdatetime" jdbcType="TIMESTAMP" />
    <result column="CHANGER" property="changer" jdbcType="VARCHAR" />
    <result column="CHANGEDATETIME" property="changedatetime" jdbcType="TIMESTAMP" />
    <result column="DELETEMAN" property="deleteman" jdbcType="VARCHAR" />
    <result column="DELETEDATETIME" property="deletedatetime" jdbcType="TIMESTAMP" />
    <result column="DELETEFLG" property="deleteflg" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ROLEID, ROLEAUTHORIY, ROLENAME, ROLECOMENT, CREATER, CREATDATETIME, CHANGER, CHANGEDATETIME, 
    DELETEMAN, DELETEDATETIME, DELETEFLG
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Byte" >
    select 
    <include refid="Base_Column_List" />
    from role
    where ROLEID = #{roleid,jdbcType=TINYINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Byte" >
    delete from role
    where ROLEID = #{roleid,jdbcType=TINYINT}
  </delete>
  <insert id="insert" parameterType="com.ihowq.VTopic.model.Role" >
    insert into role (ROLEID, ROLEAUTHORIY, ROLENAME, 
      ROLECOMENT, CREATER, CREATDATETIME, 
      CHANGER, CHANGEDATETIME, DELETEMAN, 
      DELETEDATETIME, DELETEFLG)
    values (#{roleid,jdbcType=TINYINT}, #{roleauthoriy,jdbcType=CHAR}, #{rolename,jdbcType=VARCHAR}, 
      #{rolecoment,jdbcType=VARCHAR}, #{creater,jdbcType=VARCHAR}, #{creatdatetime,jdbcType=TIMESTAMP}, 
      #{changer,jdbcType=VARCHAR}, #{changedatetime,jdbcType=TIMESTAMP}, #{deleteman,jdbcType=VARCHAR}, 
      #{deletedatetime,jdbcType=TIMESTAMP}, #{deleteflg,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ihowq.VTopic.model.Role" >
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleid != null" >
        ROLEID,
      </if>
      <if test="roleauthoriy != null" >
        ROLEAUTHORIY,
      </if>
      <if test="rolename != null" >
        ROLENAME,
      </if>
      <if test="rolecoment != null" >
        ROLECOMENT,
      </if>
      <if test="creater != null" >
        CREATER,
      </if>
      <if test="creatdatetime != null" >
        CREATDATETIME,
      </if>
      <if test="changer != null" >
        CHANGER,
      </if>
      <if test="changedatetime != null" >
        CHANGEDATETIME,
      </if>
      <if test="deleteman != null" >
        DELETEMAN,
      </if>
      <if test="deletedatetime != null" >
        DELETEDATETIME,
      </if>
      <if test="deleteflg != null" >
        DELETEFLG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleid != null" >
        #{roleid,jdbcType=TINYINT},
      </if>
      <if test="roleauthoriy != null" >
        #{roleauthoriy,jdbcType=CHAR},
      </if>
      <if test="rolename != null" >
        #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="rolecoment != null" >
        #{rolecoment,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="creatdatetime != null" >
        #{creatdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="changer != null" >
        #{changer,jdbcType=VARCHAR},
      </if>
      <if test="changedatetime != null" >
        #{changedatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteman != null" >
        #{deleteman,jdbcType=VARCHAR},
      </if>
      <if test="deletedatetime != null" >
        #{deletedatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteflg != null" >
        #{deleteflg,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ihowq.VTopic.model.Role" >
    update role
    <set >
      <if test="roleauthoriy != null" >
        ROLEAUTHORIY = #{roleauthoriy,jdbcType=CHAR},
      </if>
      <if test="rolename != null" >
        ROLENAME = #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="rolecoment != null" >
        ROLECOMENT = #{rolecoment,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        CREATER = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="creatdatetime != null" >
        CREATDATETIME = #{creatdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="changer != null" >
        CHANGER = #{changer,jdbcType=VARCHAR},
      </if>
      <if test="changedatetime != null" >
        CHANGEDATETIME = #{changedatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteman != null" >
        DELETEMAN = #{deleteman,jdbcType=VARCHAR},
      </if>
      <if test="deletedatetime != null" >
        DELETEDATETIME = #{deletedatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteflg != null" >
        DELETEFLG = #{deleteflg,jdbcType=CHAR},
      </if>
    </set>
    where ROLEID = #{roleid,jdbcType=TINYINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ihowq.VTopic.model.Role" >
    update role
    set ROLEAUTHORIY = #{roleauthoriy,jdbcType=CHAR},
      ROLENAME = #{rolename,jdbcType=VARCHAR},
      ROLECOMENT = #{rolecoment,jdbcType=VARCHAR},
      CREATER = #{creater,jdbcType=VARCHAR},
      CREATDATETIME = #{creatdatetime,jdbcType=TIMESTAMP},
      CHANGER = #{changer,jdbcType=VARCHAR},
      CHANGEDATETIME = #{changedatetime,jdbcType=TIMESTAMP},
      DELETEMAN = #{deleteman,jdbcType=VARCHAR},
      DELETEDATETIME = #{deletedatetime,jdbcType=TIMESTAMP},
      DELETEFLG = #{deleteflg,jdbcType=CHAR}
    where ROLEID = #{roleid,jdbcType=TINYINT}
  </update>
</mapper>