<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ihowq.VTopic.dao.TopicMapper" >
  <resultMap id="BaseResultMap" type="com.ihowq.VTopic.model.Topic" >
    <id column="TOPICID" property="topicid" jdbcType="BIGINT" />
    <result column="TOPICNAME" property="topicname" jdbcType="VARCHAR" />
    <result column="TOPICCOMENT" property="topiccoment" jdbcType="VARCHAR" />
    <result column="CATEGORYID" property="categoryid" jdbcType="INTEGER" />
    <result column="MAJOEID" property="majoeid" jdbcType="VARCHAR" />
    <result column="LIMITNUM" property="limitnum" jdbcType="TINYINT" />
    <result column="TEACHER" property="teacher" jdbcType="VARCHAR" />
    <result column="CREATER" property="creater" jdbcType="VARCHAR" />
    <result column="CREATDATETIME" property="creatdatetime" jdbcType="TIMESTAMP" />
    <result column="CHANGER" property="changer" jdbcType="VARCHAR" />
    <result column="CHANGEDATETIME" property="changedatetime" jdbcType="TIMESTAMP" />
    <result column="DELETEMAN" property="deleteman" jdbcType="VARCHAR" />
    <result column="DELETEDATETIME" property="deletedatetime" jdbcType="TIMESTAMP" />
    <result column="DELETEFLG" property="deleteflg" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    TOPICID, TOPICNAME, TOPICCOMENT, CATEGORYID, MAJOEID, LIMITNUM, TEACHER, CREATER, 
    CREATDATETIME, CHANGER, CHANGEDATETIME, DELETEMAN, DELETEDATETIME, DELETEFLG
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from topic
    where TOPICID = #{topicid,jdbcType=BIGINT}
    AND DELETEFLG=${NOT_DELETE}
  </select>

  <!--老师-->
  <resultMap id="CommonResultMap" type="com.ihowq.VTopic.model.Topic" >
    <id column="TOPICID" property="topicid" jdbcType="BIGINT" />
    <result column="TOPICNAME" property="topicname" jdbcType="VARCHAR" />
    <result column="TOPICCOMENT" property="topiccoment" jdbcType="VARCHAR" />
    <result column="CATEGORYID" property="categoryid" jdbcType="INTEGER" />
    <result column="MAJOEID" property="majoeid" jdbcType="VARCHAR" />
    <result column="LIMITNUM" property="limitnum" jdbcType="TINYINT" />
    <result column="TEACHER" property="teacher" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Common_Column_List" >
    TOPICID, TOPICNAME, TOPICCOMENT, topic.CATEGORYID,category.CATEGORYNAME, MAJOEID, LIMITNUM, TEACHER
  </sql>
  <select id="selectWithTeacher" resultType="com.ihowq.VTopic.dto.CommonTopic" parameterType="com.ihowq.VTopic.dto.CommonTopic">
    select
    <include refid="Common_Column_List" />
    from topic
    LEFT JOIN category ON category.CATEGORYID=topic.CATEGORYID
    where topic.TEACHER=#{teacher,jdbcType=VARCHAR}
      AND topic.DELETEFLG=${NOT_DELETE}
      AND category.DELETEFLG=${NOT_DELETE}
      <if test=" null != categoryid">
        AND topic.CATEGORYID =#{categoryid,jdbcType=INTEGER}
      </if>
      <if test=" null != topicname and '' != topicname">
        AND topic.TOPICNAME like CONCAT('%',#{topicname,jdbcType=VARCHAR},'%')
      </if>
      <if test=" null != topiccoment and '' != topiccoment">
        AND topic.TOPICCOMENT like CONCAT('%',#{topiccoment,jdbcType=VARCHAR},'%')
      </if>

    ORDER BY TOPICID DESC
  </select>

  <!--管理员-->
  <select id="selectWithManager" resultType="com.ihowq.VTopic.dto.CommonTopic" parameterType="com.ihowq.VTopic.dto.CommonTopic">
    select
    <include refid="Common_Column_List" />
    from topic
      LEFT JOIN category ON category.CATEGORYID=topic.CATEGORYID
    where topic.DELETEFLG=${NOT_DELETE}
      AND category.DELETEFLG=${NOT_DELETE}
      <if test=" null != categoryid">
          AND topic.CATEGORYID =#{categoryid,jdbcType=INTEGER}
      </if>
      <if test=" null != topicname and '' != topicname">
          AND topic.TOPICNAME like CONCAT('%',#{topicname,jdbcType=VARCHAR},'%')
      </if>
      <if test=" null != topiccoment and '' != topiccoment">
          AND topic.TOPICCOMENT like CONCAT('%',#{topiccoment,jdbcType=VARCHAR},'%')
      </if>

      ORDER BY TOPICID DESC
  </select>

  <!--学生-->
  <select id="selectWithStudent" resultType="com.ihowq.VTopic.dto.CommonTopic" parameterType="com.ihowq.VTopic.dto.CommonTopic">
      select
      <include refid="Common_Column_List" />
      from topic
      LEFT JOIN category ON category.CATEGORYID=topic.CATEGORYID
      LEFT JOIN userinfo ON FIND_IN_SET(userinfo.MAJORID,topic.MAJOEID)
      where userinfo.USERID=#{teacher,jdbcType=VARCHAR}
      AND topic.DELETEFLG=${NOT_DELETE}
      AND category.DELETEFLG=${NOT_DELETE}
      AND userinfo.DELETEFLG=${NOT_DELETE}
      <if test=" null != categoryid">
          AND topic.CATEGORYID =#{categoryid,jdbcType=INTEGER}
      </if>
      <if test=" null != topicname and '' != topicname">
          AND topic.TOPICNAME like CONCAT('%',#{topicname,jdbcType=VARCHAR},'%')
      </if>
      <if test=" null != topiccoment and '' != topiccoment">
          AND topic.TOPICCOMENT like CONCAT('%',#{topiccoment,jdbcType=VARCHAR},'%')
      </if>

      ORDER BY TOPICID DESC
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from topic
    where TOPICID = #{topicid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ihowq.VTopic.model.Topic" >
    insert into topic (TOPICID, TOPICNAME, TOPICCOMENT, 
      CATEGORYID, MAJOEID, LIMITNUM, 
      TEACHER, CREATER, CREATDATETIME, 
      CHANGER, CHANGEDATETIME, DELETEMAN, 
      DELETEDATETIME, DELETEFLG)
    values (#{topicid,jdbcType=BIGINT}, #{topicname,jdbcType=VARCHAR}, #{topiccoment,jdbcType=VARCHAR}, 
      #{categoryid,jdbcType=INTEGER}, #{majoeid,jdbcType=VARCHAR}, #{limitnum,jdbcType=TINYINT}, 
      #{teacher,jdbcType=VARCHAR}, #{creater,jdbcType=VARCHAR}, #{creatdatetime,jdbcType=TIMESTAMP}, 
      #{changer,jdbcType=VARCHAR}, #{changedatetime,jdbcType=TIMESTAMP}, #{deleteman,jdbcType=VARCHAR}, 
      #{deletedatetime,jdbcType=TIMESTAMP}, #{deleteflg,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ihowq.VTopic.model.Topic" >
    insert into topic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="topicid != null" >
        TOPICID,
      </if>
      <if test="topicname != null" >
        TOPICNAME,
      </if>
      <if test="topiccoment != null" >
        TOPICCOMENT,
      </if>
      <if test="categoryid != null" >
        CATEGORYID,
      </if>
      <if test="majoeid != null" >
        MAJOEID,
      </if>
      <if test="limitnum != null" >
        LIMITNUM,
      </if>
      <if test="teacher != null" >
        TEACHER,
      </if>
      <if test="creater != null" >
        CREATER,
      </if>
      <if test="creatdatetime != null" >
        CREATDATETIME,
      </if>
      <if test="changer != null" >
        CHANGER,
      </if>
      <if test="changedatetime != null" >
        CHANGEDATETIME,
      </if>
      <if test="deleteman != null" >
        DELETEMAN,
      </if>
      <if test="deletedatetime != null" >
        DELETEDATETIME,
      </if>
      <if test="deleteflg != null" >
        DELETEFLG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="topicid != null" >
        #{topicid,jdbcType=BIGINT},
      </if>
      <if test="topicname != null" >
        #{topicname,jdbcType=VARCHAR},
      </if>
      <if test="topiccoment != null" >
        #{topiccoment,jdbcType=VARCHAR},
      </if>
      <if test="categoryid != null" >
        #{categoryid,jdbcType=INTEGER},
      </if>
      <if test="majoeid != null" >
        #{majoeid,jdbcType=VARCHAR},
      </if>
      <if test="limitnum != null" >
        #{limitnum,jdbcType=TINYINT},
      </if>
      <if test="teacher != null" >
        #{teacher,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="creatdatetime != null" >
        #{creatdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="changer != null" >
        #{changer,jdbcType=VARCHAR},
      </if>
      <if test="changedatetime != null" >
        #{changedatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteman != null" >
        #{deleteman,jdbcType=VARCHAR},
      </if>
      <if test="deletedatetime != null" >
        #{deletedatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteflg != null" >
        #{deleteflg,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ihowq.VTopic.model.Topic" >
    update topic
    <set >
      <if test="topicname != null" >
        TOPICNAME = #{topicname,jdbcType=VARCHAR},
      </if>
      <if test="topiccoment != null" >
        TOPICCOMENT = #{topiccoment,jdbcType=VARCHAR},
      </if>
      <if test="categoryid != null" >
        CATEGORYID = #{categoryid,jdbcType=INTEGER},
      </if>
      <if test="majoeid != null" >
        MAJOEID = #{majoeid,jdbcType=VARCHAR},
      </if>
      <if test="limitnum != null" >
        LIMITNUM = #{limitnum,jdbcType=TINYINT},
      </if>
      <if test="teacher != null" >
        TEACHER = #{teacher,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        CREATER = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="creatdatetime != null" >
        CREATDATETIME = #{creatdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="changer != null" >
        CHANGER = #{changer,jdbcType=VARCHAR},
      </if>
      <if test="changedatetime != null" >
        CHANGEDATETIME = #{changedatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteman != null" >
        DELETEMAN = #{deleteman,jdbcType=VARCHAR},
      </if>
      <if test="deletedatetime != null" >
        DELETEDATETIME = #{deletedatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteflg != null" >
        DELETEFLG = #{deleteflg,jdbcType=CHAR},
      </if>
    </set>
    where TOPICID = #{topicid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ihowq.VTopic.model.Topic" >
    update topic
    set TOPICNAME = #{topicname,jdbcType=VARCHAR},
      TOPICCOMENT = #{topiccoment,jdbcType=VARCHAR},
      CATEGORYID = #{categoryid,jdbcType=INTEGER},
      MAJOEID = #{majoeid,jdbcType=VARCHAR},
      LIMITNUM = #{limitnum,jdbcType=TINYINT},
      TEACHER = #{teacher,jdbcType=VARCHAR},
      CREATER = #{creater,jdbcType=VARCHAR},
      CREATDATETIME = #{creatdatetime,jdbcType=TIMESTAMP},
      CHANGER = #{changer,jdbcType=VARCHAR},
      CHANGEDATETIME = #{changedatetime,jdbcType=TIMESTAMP},
      DELETEMAN = #{deleteman,jdbcType=VARCHAR},
      DELETEDATETIME = #{deletedatetime,jdbcType=TIMESTAMP},
      DELETEFLG = #{deleteflg,jdbcType=CHAR}
    where TOPICID = #{topicid,jdbcType=BIGINT}
  </update>
</mapper>